<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SSBL{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>

<body>
    <nav class="sidebar">
        <a href="/dashboard">Dashboard</a>
        <a href="/players">Players</a>
        <a href="/settings">Settings</a>
    </nav>
    <main class="content">
        {% block content %}{% endblock %}
    </main>
</body>

</html>